<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.editors">
   <editor
         class="de.tudresden.ias.eclipse.dlabpro.editors.itp.ITPEditor"
         icon="icons/hires/obj/itpfile_obj.png"
         contributorClass="de.tudresden.ias.eclipse.dlabpro.editors.itp.ITPContributor"
         name="%editor.name"
         id="de.tudresden.ias.eclipse.dlabpro.editors.itp.itpeditor"
         extensions="itp">
   </editor>
      <editor
         class="de.tudresden.ias.eclipse.dlabpro.editors.def.DEFEditor"
         icon="icons/hires/obj/deffile_obj.png"
         contributorClass="de.tudresden.ias.eclipse.dlabpro.editors.def.DEFContributor"
         name="%editor.name.0"
         id="de.tudresden.ias.eclipse.dlabpro.editors.def.defeditor"
         extensions="def">
   </editor>
      <editor
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.editor.VisEditor"
            extensions="dn3, wav, xml, data.xml"
            icon="icons/hires/obj/visfile_obj.png"
            id="dLabPro.VisEditor"
            name="%editor.name.1"/>
      <editor
            class="de.tudresden.ias.eclipse.dlabpro.editors.itp.ITPEditor"
            contributorClass="de.tudresden.ias.eclipse.dlabpro.editors.itp.ITPContributor"
            extensions="xtp"
            icon="icons/hires/obj/xtpfile_obj.png"
            id="de.tudresden.ias.eclipse.dlabpro.editors.itp.xtpeditor"
            name="dLabPro Executable Script Editor">
      </editor>
</extension>
   

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tudresden.ias.eclipse.dlabpro.preferences.GeneralPreferencePage"
            id="de.tudresden.ias.eclipse.dlabpro.preferences.GeneralPreferencePage"
            name="%page.name">
      </page>
      <page
            category="de.tudresden.ias.eclipse.dlabpro.preferences.GeneralPreferencePage"
            class="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptEditorsPreferencePage"
            id="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptEditorsPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptEditorsPreferencePage"
            class="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptFoldingPreferencePage"
            id="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptFoldingPreferencePage"
            name="%page.name.1">
      </page>
      <page
            class="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptColoringPreferencePage"
            name="%page.name.2"
            id="de.tudresden.ias.eclipse.dlabpro.preferences.ColorPreferencePage"
            category="de.tudresden.ias.eclipse.dlabpro.preferences.ScriptEditorsPreferencePage"/>
      <page
            category="de.tudresden.ias.eclipse.dlabpro.preferences.GeneralPreferencePage"
            class="de.tudresden.ias.eclipse.dlabpro.preferences.ProgramsPreferencePage"
            id="de.tudresden.ias.eclipse.dlabpro.preferences.ProgramsPreferencePage"
            name="%page.name.3"/>
      <page
            category="de.tudresden.ias.eclipse.dlabpro.preferences.GeneralPreferencePage"
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.preferences.VisEditorPreferencePage"
            id="dLabPro Plugin.VisEditorPreferences"
            name="%page.name.4"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer class="de.tudresden.ias.eclipse.dlabpro.preferences.PreferenceInitializer" /> 
   </extension>
      
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.tudresden.ias.eclipse.dlabpro.launch.DLabProLaunchConfigurationDelegate"
            name="%launchConfigurationType.name"
            modes="run"
            id="de.tudresden.ias.eclipse.dlabpro.run.launch.itp.itplaunchconfigurationtype"/>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="de.tudresden.ias.eclipse.dlabpro.run.launch.itp.itplaunchconfigurationtype"
            class="de.tudresden.ias.eclipse.dlabpro.launch.DLabProLaunchConfigurationTabGroup"
            id="de.tudresden.ias.eclipse.dlabpro.run.launch.itp.itpmoduletabgroup"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.tudresden.ias.eclipse.dlabpro.run.launch.itp.itplaunchconfigurationtype"
            icon="icons/hires/etool/run_dlabpro.png"
            id="de.tudresden.ias.eclipse.dlabpro.run.launch.DLabProLaunchConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
<extension point="org.eclipse.ui.ide.resourceFilters">
       <filter pattern="*.?tp" selected="false">            </filter>
       <filter pattern="*.def" selected="false">            </filter>
    </extension>

<extension
      point="org.eclipse.ui.popupMenus">
   <viewerContribution
         targetID="#DefEditorContext"
         id="de.tudresden.ias.eclipse.dlabpro.run.actions.def.defeditorpopup">
      <action
            class="de.tudresden.ias.eclipse.dlabpro.actions.editor.ToggleCommentAction"
            icon="icons/etool16/comment_edit.gif"
            id="de.tudresden.ias.eclipse.dlabpro.run.actions.def.deftogglecommentaction"
            label="%action.label"
            menubarPath="additions"/>
   </viewerContribution>
   <viewerContribution
         id="de.tudresden.ias.eclipse.dlabpro.run.actions.itp.defeditorpopup"
         targetID="#ItpEditorContext">
      <action
            class="de.tudresden.ias.eclipse.dlabpro.actions.editor.ToggleCommentAction"
            icon="icons/etool16/comment_edit.gif"
            id="de.tudresden.ias.eclipse.dlabpro.run.actions.itp.itptogglecommentaction"
            label="%action.label.0"
            menubarPath="additions"/>
   </viewerContribution>
   <viewerContribution
         id="dLabPro Plugin.FoldingMenuContribution"
         targetID="#DLabProRulerContext">
      <menu
            id="dLabPro_Plugin.FoldingMenu"
            label="%menu.label"
            path="additions">
         <separator
               name="Group">
         </separator>
      </menu>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.actions.editor.FoldingResetAction"
            id="dLabPro Plugin.FoldingResetAction"
            label="%action.label.1"
            menubarPath="dLabPro_Plugin.FoldingMenu/Group">
      </action>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.actions.editor.FoldingCollapseAllAction"
            enablesFor="*"
            id="dLabPro Plugin.FoldingCollapseAllAction"
            label="%action.label.2"
            menubarPath="dLabPro_Plugin.FoldingMenu/Group">
      </action>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.actions.editor.FoldingExpandAllAction"
            id="dLabPro Plugin.FoldingCollapseAllAction"
            label="%action.label.3"
            menubarPath="dLabPro_Plugin.FoldingMenu/Group">
      </action>
      <action
            class="org.eclipse.ui.texteditor.TaskRulerAction"
            enablesFor="*"
            id="addtask"
            label="%action.label.4"
            menubarPath="additions">
      </action>
      <action
            class="org.eclipse.ui.texteditor.BookmarkRulerAction"
            enablesFor="*"
            id="addbookmark"
            label="%action.label.5"
            menubarPath="additions">
      </action>
   </viewerContribution>
</extension>

<extension
      point="org.eclipse.ui.editorActions">
   <editorContribution
         id="dLabPro Plugin.ZoomContribution"
         targetID="dLabPro.VisEditor">
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.ZoomInAction"
            icon="icons/etool16/zoom_in_edit.gif"
            id="dLabPro Plugin.ZoomInAction"
            label="%action.label.6"
            style="push"
            toolbarPath="Normal/additions"/>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.ZoomOutAction"
            icon="icons/etool16/zoom_out_edit.gif"
            id="dLabPro Plugin.ZoomOutAction"
            label="%action.label.7"
            style="push"
            toolbarPath="Normal/additions"/>
   </editorContribution>
   <editorContribution
         id="dLabPro Plugin.TempDisplaySwitches"
         targetID="dLabPro.VisEditor">
      <action
            actionID="dLabPro Plugin.autorefresh"
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.AutoRefreshAction"
            icon="icons/etool16/autorefresh_edit.gif"
            id="dLabPro Plugin.autorefresh"
            label="%action.label.8"
            style="toggle"
            toolbarPath="Normal/additions">
      </action>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.ThreeDAction"
            icon="icons/etool16/3D_edit.gif"
            id="dLabPro Plugin.threeD"
            label="%action.label.9"
            style="push"
            toolbarPath="Normal/additions">
      </action>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.SpectrogramAction"
            icon="icons/etool16/spec_edit.gif"
            id="dLabPro Plugin.spectrogram"
            label="%action.label.10"
            style="push"
            toolbarPath="Normal/additions"/>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.BarDiagramAction"
            icon="icons/etool16/bard_edit.gif"
            id="dLabPro Plugin.bardiagram"
            label="%action.label.11"
            style="push"
            toolbarPath="Normal/additions"/>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.OscillogramAction"
            icon="icons/etool16/osci_edit.gif"
            id="dLabPro Plugin.oscillogram"
            label="%action.label.12"
            style="push"
            toolbarPath="Normal/additions"/>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.ResetAction"
            icon="icons/etool16/reset_edit.gif"
            id="dLabPro Plugin.reset"
            label="%action.label.13"
            style="push"
            toolbarPath="Normal/additions">
      </action>
      <action
            class="de.tudresden.ias.eclipse.dlabpro.editors.vis.actions.PlayAction"
            disabledIcon="icons/dtool16/play_edit.gif"
            icon="icons/etool16/play_edit.gif"
            id="dLabPro Plugin.play"
            label="%action.label.14"
            style="push"
            toolbarPath="Normal/additions"/>
   </editorContribution>
</extension>

<extension
      point="org.eclipse.debug.ui.consoleLineTrackers">
   <consoleLineTracker
         class="de.tudresden.ias.eclipse.dlabpro.launch.DLabProConsoleLineTracker"
         id="de.tudresden.ias.eclipse.dlabpro.console.DLabProConsoleLineTracker"
         processType="DLabProRunProcess"/>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="false"
         category="dLabPro Plugin.view.category"
         class="de.tudresden.ias.eclipse.dlabpro.views.ManualContentView"
         icon="icons/eview16/dlabprodoc_view.gif"
         id="de.tudresden.ias.eclipse.dlabpro.manualcontentview"
         name="%view.name"/>
   <view
         allowMultiple="false"
         category="dLabPro Plugin.view.category"
         class="de.tudresden.ias.eclipse.dlabpro.views.UASRManualTocView"
         icon="icons/eview16/uasrdoc_view.gif"
         id="de.tudresden.ias.eclipse.dlabpro.uasrmanualtocview"
         name="%view.name.0"/>
   <view
         allowMultiple="false"
         category="dLabPro Plugin.view.category"
         class="de.tudresden.ias.eclipse.dlabpro.editors.vis.infoview.DisplayInformationView"
         icon="icons/eview16/display_view.gif"
         id="dLabPro Plugin.display.information"
         name="%view.name.1"/>
   <category
         id="dLabPro Plugin.view.category"
         name="%category.name"/>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="de.tudresden.ias.eclipse.dlabpro.perspectives.DLabProPerspective"
         icon="icons/hires/dlabpro.png"
         id="de.tudresden.ias.eclipse.dlabpro.dlabproperspective"
         name="%perspective.name"/>
</extension>
<extension
      point="org.eclipse.ui.viewActions">
      <viewContribution
         id="org.eclipse.ui.console.ConsoleView"
         targetID="org.eclipse.ui.console.ConsoleView">
         <action
               class="de.tudresden.ias.eclipse.dlabpro.actions.console.ReuseConsoleViewActionDelegate"
               enablesFor="*"
               icon="icons/elcl16/reuse_co.gif"
               id="de.tudresden.ias.eclipse.dlabpro.run.actions.common.ReuseConsoleViewActionDelegate"
               label="%action.label.15"
               style="toggle"
               toolbarPath="outputGroup"
               tooltip="%action.tooltip"/>
         <action
               class="de.tudresden.ias.eclipse.dlabpro.actions.console.BreakConsoleViewActionDelegate"
               enablesFor="*"
               icon="icons/elcl16/break_co.gif"
               id="dLabPro Plugin.BreakConsoleViewAction"
               label="%action.label.16"
               style="push">
         </action>
         <action
               class="de.tudresden.ias.eclipse.dlabpro.actions.console.StepConsoleViewActionDelegate"
               enablesFor="*"
               icon="icons/elcl16/step_co.gif"
               id="dLabPro Plugin.StepConsoleViewAction"
               label="%action.label.17"
               style="push">
         </action>
         <action
               class="de.tudresden.ias.eclipse.dlabpro.actions.console.ContConsoleViewActionDelegate"
               enablesFor="*"
               icon="icons/elcl16/cont_co.gif"
               id="dLabPro Plugin.ContConsoleViewAction"
               label="%action.label.18"
               style="push">
         </action>
            </viewContribution>
      </extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension targetID="de.tudresden.ias.eclipse.dlabpro.dlabproperspective">
      <viewShortcut id="dLabPro Plugin.display.information"/>
   </perspectiveExtension>
   <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
   	  <viewShortcut id="dLabPro Plugin.display.information"/>
   </perspectiveExtension>
</extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            visible="true"
            id="de.tudresden.ias.eclipse.dlabpro.dLabProRunActionSet">
         <menu
               label="%menu.label.0"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="dLabProGroup">
            </separator>
         </menu>
         <action
               class="de.tudresden.ias.eclipse.dlabpro.actions.RunDlabProActionDelegate"
               enablesFor="*"
               icon="icons/hires/etool/run_dlabpro.png"
               id="de.tudresden.ias.eclipse.dlabpro.dLabProRunAction"
               label="%action.label.19"
               menubarPath="org.eclipse.ui.run/dLabProGroup"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/run"
               tooltip="%action.tooltip.0">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tudresden.ias.eclipse.dlabpro.launch.XtpLaunchShortcut"
            description="%shortcut.description"
            icon="icons/hires/etool/run_dlabpro.png"
            id="dLabPro Plugin.XtpLaunchShortcut"
            label="%shortcut.label"
            modes="run">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.xtp"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.itp"/>
                   <instanceof value="de.tudresden.ias.eclipse.dlabpro.editors.itp.ITPEditor"/>
                 </or>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="de.tudresden.ias.eclipse.dlabpro.launch.DefLaunchShortcut"
            description="%shortcut.description.0"
            icon="icons/obj16/dlabro_class_obj.gif"
            id="dLabPro Plugin.DefLaunchShortcut"
            label="%shortcut.label.0"
            modes="run">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.def"/>
                   <instanceof value="de.tudresden.ias.eclipse.dlabpro.editors.def.DEFEditor"/>
                 </or>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.tudresden.ias.eclipse.dlabpro.properties.XtpPropertyPage"
            id="de.tudresden.ias.eclipse.dlabpro.properties.XtpPropertyPage"
            name="%page.name.5"
            nameFilter="*.xtp">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="de.tudresden.ias.eclipse.dlabpro.properties.XtpPropertyPage"
            id="de.tudresden.ias.eclipse.dlabpro.properties.ItpPropertyPage"
            name="%page.name.6"
            nameFilter="*.itp">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
